html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


/* INFO TOKEN */

.info-token {
	position: relative;
	font-family: Verdana;
	font-size: 12px;
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url('info.png');

}

.info-token-msg {
	display: none;
	position: absolute;
	left: auto;
}

.info-token:hover .info-token-msg {
	display: block;	
}

.info-token-msg p {
	margin: 0 0 0 25px;
	padding: 5px;
	width: 160px;
	border: 1px solid black;
	box-shadow: 3px 3px 1px .25px #bbb;
}

/* CARDS */

.card {
	width: 300px;
	height: 500px;
	border: 3px solid #9ABA00;
    background-color: #ebf2d3;
    float: left;
    margin: 20px 0 10px 20px;
    color: #663605;
    position: relative;
}

.card-title-part {
    margin: 0 10px 0 0;
}

.card .card-header {
    background-color: #9ABA00;
    display: block;
    width: 100%;
    text-shadow: #222 1px 1px 1px;
    font-weight: bold;
    overflow: auto;
    padding-bottom: 0.3em;
    cursor: pointer;
    color: white;
}

.card .card-header:hover {
    text-decoration: underline;
}

.card .card-graph {
    margin: 5px;
    height: 250px;
}

.card-graph-type {
    cursor: pointer;
    text-decoration: underline;
}

.card .card-footer {
	height: 20px;
    width: inherit;
	border-top: 1px solid #92b533;
	font-weight: bold;
    font-size: 13px;
    padding: 0.5em 0;
    position: absolute;
    bottom: 0px;

}

.card .card-close {
	width: inherit;
	font-style: italic;
}

.card .card-separator {
	background-color: #c8dd88;
	color: #663605;
	text-align: left;
    padding: 0.5em;
	font-size: 13px;
	font-weight: bold;
}

.card-header-status {
	display: inline-block;
	height: 32px;
	width: 33px;
    margin: 10px 0 0 5px;
	background-image: url('available.png');
    float: left;
}

.card-header-enter {
    display: inline-block;
    height: 32px;
    width: 33px;
    margin: 10px 5px 0 0;
    background-image: url('enter.png');
    float: right;
}

.card-header-name {
	font-size: 28px;
	font-weight: bold;
    margin: 7px 0 0 0;
    cursor: pointer;
    text-align: center;
}

.card-tutors {
	height: auto;
	max-height: 80px;
    padding: 0.5em;
    text-align: left;
    overflow: auto;
}

.card .card-footer .card-button {
	float: right;
	margin: 1px 0 0 0;
	padding: 0;
	border: 1px solid #663605;
}

.card .card-footer .card-button a {
	color: #663605;
	text-decoration: none;
	padding: 0 4px;
}

.card .card-footer .card-button a:hover {
	color: #c8dd88;
	background-color: #663605;
	cursor: pointer;
}

.card-tutors ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 13px;
	margin-left: 5px;
}

.card-status {
	display: inline-block;
	height: 11px;
	width: 11px;
	margin-right: 5px;
	background-image: url('available-small.png');
}

.card-status-busy {
    background-image: url('busy-small.png');
}

.card-right {
    float: right;
}
